<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBAUASP_ZvFNMY6Vm2zSqQ1sDeWL_GZsnQ</string>
	<key>GCM_SENDER_ID</key>
	<string>136688577409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.mohanakumar.brashan.MtProgress</string>
	<key>PROJECT_ID</key>
	<string>mtprogress-5d9e6</string>
	<key>STORAGE_BUCKET</key>
	<string>mtprogress-5d9e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136688577409:ios:47a67cc1d389ace0c71680</string>
</dict>
</plist>